@using Facil.Erp.Web.Models.Common.Modals
@model Facil.Erp.Web.Models.Pessoas.PessoaListViewModel
@{
    Layout = null;
}
<div class="modal fade" id="PessoaCreateModal" tabindex="-1" role="dialog" aria-labelledby="PessoaCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Nova Pessoa"))
            <form name="pessoaCreateForm" role="form" class="form-horizontal">
                <div class="modal-body">

                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="nome">Nome</label>
                        <div class="col-md-9">
                            <input id="pessoaNome" type="text" name="nome" class="form-control" required maxlength="32" minlength="2">
                        </div>
                    </div>

                  @*   <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="displayname">@L("DisplayName")</label>
                        <div class="col-md-9">
                            <input id="displayname" type="text" name="DisplayName" class="form-control" required maxlength="32" minlength="2">
                        </div>
                    </div> *@

                   @*  <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="role-description">@L("RoleDescription")</label>
                        <div class="col-md-9">
                            <textarea id="role-description" name="Description" class="form-control"></textarea>
                        </div>
                    </div> *@
                    
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>
