@using Facil.Erp.Web.Startup
@{
    ViewBag.Title = "Pessoas";
    ViewBag.CurrentPageName = "Pessoas";
}



<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h3 class="m-0 text-dark">Cadastro de Pessoas</h3>
            </div>
        </div>
    </div>


</div>



<section class="content">
    <div class="container-fluid">



       
    </div>
</section>

