@using Facil.Erp
<footer class="main-footer">
    <strong>Copyright &copy; 2022 @DateTime.Now.Year <a href="javascript:void(0);">V.A. Sistemas</a>.</strong> Todos os direitos reservados
    <div class="float-right d-none d-sm-inline-block">
        <b>@L("Version")</b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("dd/MM/yyyy")]
    </div>
</footer>
